/* Card.css */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 10px;
}

.badge {
  background-color: #605a5a;
  padding: 5px;
  border-radius: 5px;
}

button {
  border: none;
  padding: 8px;
  cursor: pointer;
}
